@import url("_core/css/temas_colores_fuentes.css");

#encabezado-principal {
   background-color: red;
   color: white;
}

#navegacion-categoria {
   background-color: lime;
}

#seccion-categoria {
   min-height: 720px;
   background-color: orange;
}

.articulo-categoria {
   border: solid 3px gray;
}
#footer-principal {
   background-color: blue;
   color: white;
}

#qr-code {
   width:100px;
   height:100px;
}


.seccion-items {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px; 
   padding: 40px;
   background-color: #f9f9f9;
}


.articulo-categoria {
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

   overflow: hidden;
   transition: transform 0.3s ease;
}

.articulo-categoria:hover {
   transform: scale(1.02);
}

.header-articulo {
   background-color: #f8f9fa;
   padding: 20px;
   border-bottom: 1px solid #e0e0e0;
   text-align: center;
}

.header-articulo img {
   width: 100%;
   height: 50%;
   border-radius: 5px;
   margin-bottom: 15px;
}

.item-valor-nombre {
   font-size: 1.5em;
   font-weight: bold;
   color: #333;
   margin-bottom: 10px;
}

.item-valor-autor {
   font-size: 1.1em;
   color: #666;
   margin-bottom: 10px;
}

.item-valor-descripcion {
   font-size: 1em;
   color: #777;
   margin-bottom: 10px;
}

.item-valor-rating {
   font-size: 1.2em;
   font-weight: bold;
   color: #ffcc00;
}

/* Estilo para la sección de detalles */
.detalle-articulo {
   padding: 20px;
}

.detalle-articulo h4 {
   font-size: 1.3em;
   color: #333;
   margin-bottom: 5px;
}

.detalle-articulo p {
   font-size: 1em;
   color: #555;
   margin-bottom: 15px;
}
